<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f5e5e3">  <td>18/10/14 00:00:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.CloseBrowser()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/14 00:00:50</td>   <td>20382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.CloseBrowser()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">&lt;&lt;CloseBrowser</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/14 00:00:05</td>   <td>-24578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.OpenBrowser()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="f5e5e3">  <td>18/10/14 00:00:30</td>   <td>725</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.OpenBrowser()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">&gt;&gt;OpenBrowser</td> 
<td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/10/14 00:00:12</td>   <td>-17666</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingInTest.RegisterForm()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">RegisterForm</td> 
  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/10/14 00:00:05</td>   <td>-24613</td> <td title="&gt;&gt;SingInTest.SetUpData()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">&gt;&gt;SetUpData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1234776885</td>   <td></td> </tr>
<tr bgcolor="eff760">  <td>18/10/14 00:00:37</td>   <td>7683</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SingInTest.Singin()[pri:0, instance:Login.com.automation.practise.SingInTest@5442a311]">Singin</td> 
  <td>main@1234776885</td>   <td></td> </tr>
</table>
